/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

 body{
    font-family: 'Open Sans', sans-serif;
     background-color: rgb(233, 245, 245);
     margin: 0px;
     padding: 0px;
     padding-top: 66px
 }

 /* NAVBAR */

.nav-shadow{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.5);
}

 .nav-search{
     border-radius: 9px;
     border: 2px solid white;
     outline: none;
     font-size: 0.8em;
 }
 .nav-text{
     font-size: 13px;
     color:white !important;
 }
 input#search{
     background-image: url(asset_path('lupa.png'));
     background-repeat: no-repeat;
     background-size: contain;
     text-indent: 25px;
     margin-bottom: 5px;
 }
 input#search:focus{
    background-image: none; 
 }
 .submit-btn-search{
     background-color: rgb(75, 197, 219);
     border: 2px solid rgba(255,255,255,0);
     border-radius: 2em;
     padding: 0 15px;
     color: #ffffff;
     transition: all 0.3s;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     font-size: 0.8em;
 }
 .submit-btn-search:hover{
    background-color: rgb(61, 162, 180);
     
 }
 .nav_guest_text{
     color: white;
     font-size: 14px;
 }
 .nav_guest_text:hover{
     text-decoration: none;
     color: white;
     font-weight: bold;
 }

 .nav-search-placeholder{
     align-items: baseline;
 }

 /* Registration_user_view */
 .registration_img{
     width: 100%;
 }

 .submit-btn-registration{
    width: 180px;
    height: 60px;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 0.5s ease-in-out;
 }

 .submit-btn-registration:hover {
    transition: 0.5s ease-in-out;
    background: #d2e4f5;
  }

/* Delete User View */

.submit-btn-delete{
    width: 180px;
    height: 60px;
    background: transparent;
    border: 1px solid #ff9191;
    outline: none;
    transition: 0.5s ease-in-out;
 }

 .submit-btn-delete:hover {
    transition: 0.5s ease-in-out;
    background: #f5d2d2;
  }

/* Index view */

.btn-submit-post{
    background-color: rgb(75, 197, 219);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    transition: all 0.5s;
}

.btn-submit-post:hover{
    background-color: rgb(61, 162, 180);
    transition: all 0.5s;
    transition-timing-function: ease;
}

.distance_of_posts_in_time{
    font-size: 0.8em;
    color: #3a3a3a;
    align-self: center;
}

.distance_of_posts_in_time:hover{
    text-decoration: none;
    color: #111111;
    font-weight: bold;
}

.fs-figcaption{
    font-size: 0.8em;
}

.img-avatar-users{
    // border: 2px solid rgb(98, 228, 233);
    // -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    // -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: -2px 5px 10px 0px rgba(0, 0, 0, 1);
}